body{
    background-image: url("Images/1312729.jpg");
    background-size: cover;
    color: white;
    font-family: 'Raleway', sans-serif;
}

h4{
    color: yellow;
}

li{
    display: inline;
    float: left;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

button{
    border: 1px solid yellow;
    background-color: yellow;
    padding: 10px 24px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.3s;
}

button:hover{
    background-color: transparent;
    color: white;
}

.container{
    padding-top: 10%;
    padding-left: 11%;
}

h1{
    font-size: 3em;
}

h3{
    font-size: 3em;
}

.nav-logo{
    padding: 14px 16px;
}

.nav-links::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: yellow;
    transition: width .3s;
}

.nav-links:hover::after{
    width: 100%;
    transition: width .3s;
}

.signup{
    border: 1px solid yellow;
    padding: 14px 20px;
    border-radius: 3px;
    transition-duration: 0.3s;
    margin: 5px;
}

.signup:hover{
    background-color: yellow;
    color: black;
}

.signin{
    border: 1px solid yellow;
    background-color: yellow;
    color: black;
    padding: 14px 20px;
    margin: 5px;
    border-radius: 3px;
    transition-duration: 0.3s;
}

.signin:hover{
    background-color: transparent;
    color: white;
}

.right{
    float: right;
}

.hamburger-menu{
    border: 1px solid yellow;
    background-color: yellow;
    color: black;
    border-radius: 3px;
    padding: 14px 20px;
    margin: 5px;
    display: none;
    transition-duration: 0.3s;
}

.hamburger-menu:hover{
    background-color: transparent;
    color: white;
}

@media (max-width: 720px){
    body{
        background-image: url("Images/mobile.jpg");
    }

    .nav-links{
        display: none;
    }

    .signup{
        display: none;
    }

    .signin{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }
}